@import "mixins";
$base-font-size: rem-calc(14);
$base-line-height: rem-calc(20);
$base-font-family: "brandon-grotesque", 'Lato', Helvetica, sans;
// Header elements

body, p {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
}
p {
	margin-bottom: $base-line-height;
}

$h1: (
	font-size: rem-calc(76),
	font-weight: 200,
	line: 25,
	lines: 4
);
$h2: (
	font-size: rem-calc(47),
	font-weight: 200,
	line: 25,
	lines: 2
	);
$h3: (
	font-size: rem-calc(29),
	font-weight: 200,
	line: 25,
	lines: 2
);

$h4: (
	font-size: rem-calc(18),
	font-weight: 200,
	line: 16,
	lines: 1.6
);

$h5: (
	font-size: rem-calc(16),
	font-weight: 200,
	line: 16,
	lines: 1
);

.spaced-heading {
	letter-spacing: 3px;
}

// Basic text property for basic HTML elements

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-light {
	font-weight: 100;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-thick {
	font-weight: 900 !important;
	//letter-spacing: -2px;
}
h1, .alpha {
	@include header($h1);
}
h2, .beta {
	@include header($h2);
}
h3, .gamma {
	@include header($h3);
}
h4, .omega {
	@include header($h4);
}
h5, .epsilon {
	@include header($h5);
}

// Margin and paddings
// No-margin top
.nmt {
	margin-top: 0;
}